<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.teeshirt.listviewexample" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".splash"
            android:label="@string/title_activity_splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Story1"
            android:label="@string/title_activity_story1" >
        </activity>
        <activity
            android:name=".Story2"
            android:label="@string/title_activity_story2" >
        </activity>
        <activity
            android:name=".Story3"
            android:label="@string/title_activity_story3" >
        </activity>
        <activity
            android:name=".Story4"
            android:label="@string/title_activity_story4" >
        </activity>
        <activity
            android:name=".Story5"
            android:label="@string/title_activity_story5" >
        </activity>
        <activity
            android:name=".Story6"
            android:label="@string/title_activity_story6" >
        </activity>
        <activity
            android:name=".story7"
            android:label="@string/title_activity_story7" >
        </activity>
        <activity
            android:name=".Story8"
            android:label="@string/title_activity_story8" >
        </activity>
        <activity
            android:name=".Story9"
            android:label="@string/title_activity_story9" >
        </activity>
        <activity
            android:name=".Story10"
            android:label="@string/title_activity_story10" >
        </activity>
    </application>

</manifest>
